
<div class="container">
    <section class="my-4">
      <h2 class="h1 fw-bold mb-2 text-main text-center ">All products</h2>
      <input type="search" placeholder="Search..." class="form-control w-50 mx-auto my-3" [(ngModel)]="searchTerm">
      <div class="row">
          <div class="col-md-3 g-4" *ngFor="let product of products| search : searchTerm">
              <div class="product ">
                  <div class="cursor-pointer" [routerLink]="['/details' , product._id]">
                      <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                      <div class=" p-2">
                        <!--builtin pipe slice-->
                          <h3 class="h6">{{product.category.name | termtext :3 }}</h3>
                          <h4 class="h6">{{product.title| termtext:3 }}</h4>
                         <div class="d-flex align-itemss-center justify-content-between">
                             <span>{{product.price | currency : "EGP"}}</span>
                            <div>
                              <i class="fa-solid fa-star rating-color"></i>
                              <span>{{product.ratingsAverage}}</span>
                            </div>
                          </div>
                          
                      </div> 
                  </div>
                  <div class="d-flex justify-content-between p-2">
                    <button (click)="addToCart(product._id)" class="btn-main ">Add Product</button>
                    <!--*add to wish list-->
                    <i *ngIf="!wishListData.includes($any(product._id))" class="fa-regular fa-heart fa-2x cursor-pointer heart "  (click)="addToWishList(product._id)" ></i>
                    <i  *ngIf="wishListData.includes($any(product._id))" class="fa-solid fa-heart fa-2x cursor-pointer heart text-danger "  (click)="remove(product._id)" ></i>   
                  </div> 
              </div>
          </div>
      </div>
    </section>
  </div>